<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Design/css/style.css" rel="stylesheet" />
    <link href="~/Design/icons/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Design/js/jquery.min.js"></script>
</head>
<body>
    @Html.Action("SearchBar", "Home")
    @Html.Action("NavTop", "Home")
    <div id="main">
        @RenderBody()
    </div>
    @RenderSection("Comments", false)
    @Html.Action("Footer", "Home")
    <script src="~/Design/js/page.js"></script>
</body>
</html>
